<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="roMvpTrackerApp">

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid container">
                <a class="navbar-brand" href="#">Ragnarok MVP Tracker</a>
                <span class="dropdown-settings" ng-class="!isValidSettings() ? 'invalid' : ''" is-open="settingsDropdown.open" uib-dropdown>
                    <a href="javascript:void(0);" class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-settings-content" ng-click="$event.stopPropagation();">
                            <div ng-include="'views/settings.html'"></div>
                        </li>
                    </ul>
                </span>
                <span class="dropdown-users" ng-class="!isValidSettings() ? 'invalid' : ''" is-open="usersDropdown.open" uib-dropdown>
                    <a href="javascript:void(0);" class="dropdown-toggle" role="button" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <li class="dropdown-users-content" ng-click="$event.stopPropagation();">
                            <div ng-include="'views/users.html'"></div>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div ui-view=""></div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <a href="https://github.com/ro-mvp-tracker" target="_blank">Github</a>
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-78347701-2');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/simple-web-notification/web-notification.js"></script>
    <script src="bower_components/angular-web-notification/angular-web-notification.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mvp.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/filters/ceil.js"></script>
    <script src="scripts/services/time.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <!-- endbuild -->
</body>
</html>
