<form class="form-horizontal" ng-controller="SettingsCtrl">
    <!-- authentication key-->
    <div class="form-group" ng-class="(!settings.authKey || !settings.$authenticated) ? 'invalid' : ''">
        <label class="col-md-12 control-label" for="authKey">Authentication Key <small><span class="glyphicon glyphicon-lock"></span></small></label>   
        <div class="col-md-12">
            <div class="input-group">
                <input id="authKey" name="authKey" type="text" placeholder="" class="form-control input-md" ng-model="settings.authKey">
                <span class="input-group-btn">
                    <span name="auth" class="btn btn-default" ng-class="!settings.$authenticated ? 'btn-danger' : 'btn-success'">
                        <span class="glyphicon" ng-class="!settings.$authenticated ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- group-->
    <div class="form-group" ng-class="!settings.group ? 'invalid' : ''">
        <label class="col-md-12 control-label" for="group">Group</label>  
        <div class="col-md-12">
            <input id="group" name="group" type="text" placeholder="" class="form-control input-md" ng-model="settings.group">
        </div>
    </div>
    <!-- name-->
    <div class="form-group" ng-class="!settings.name ? 'invalid' : ''">
        <label class="col-md-12 control-label" for="name">Name</label>  
        <div class="col-md-12">
            <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="settings.name">
        </div>
    </div>
    <!-- notification-->
    <div class="form-group">
        <label class="col-md-12 control-label" for="">Notification</label>  
        <div class="col-md-12">
            <label class="checkbox-inline" for="notification">
                <input type="checkbox"  id="notification" name="notification" value="1" ng-model="settings.notificationEnabled"> 
                Notify
                <span class="form-inline">
                    <select class="form-control input-xs notification-time" ng-model="settings.notificationTime" ng-options="value*1 for (key, value) in notificationTimeList"></select>
                </span>
                minute(s) before spawn
            </label>
        </div>
    </div>
</form>