<form class="form-horizontal" ng-controller="SettingsCtrl">
    <!-- email -->
    <div class="form-group">
        <label class="col-md-12 control-label" for="authKey">E-Mail</label>   
        <div class="col-md-12">
            <div class="input-group">
                <input id="settings-email" name="settings-email" type="text" placeholder="" class="form-control input-md" ng-model="login.user.email" disabled="disabled">
                <span class="input-group-btn">
                    <span name="auth" class="btn btn-default" uib-tooltip="Logout" ng-click="settingsDropdown.open=false;logout();">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- username -->
    <div class="form-group">
        <label class="col-md-12 control-label" for="username">Display Name</label>  
        <div class="col-md-12">
            <input id="settings-username" name="settings-username" type="text" placeholder="" class="form-control input-md" ng-model="login.userData.username">
        </div>
    </div>
    <!-- group -->
    <div class="form-group">
        <label class="col-md-12 control-label" for="group">Tracker Group</label>  
        <div class="col-md-12">
            <input id="settings-group" name="settings-group" type="text" placeholder="" class="form-control input-md" ng-model="settings.group">
        </div>
    </div>
    <!-- notification-->
    <div class="form-group">
        <label class="col-md-12 control-label" for="">Notification</label>  
        <div class="col-md-12">
            <label class="checkbox-inline" for="notification">
                <input type="checkbox"  id="notification" name="notification" value="1" ng-model="settings.notificationEnabled"> 
                Notify
                <span class="form-inline">
                    <select class="form-control input-xs notification-time" ng-model="settings.notificationTime" ng-options="value*1 for (key, value) in notificationTimeList"></select>
                </span>
                minute(s) before spawn
            </label>
        </div>
    </div>
</form>