<div class="form-setup-container" ng-controller="SetupCtrl">
    <form class="form-horizontal form-setup" ng-controller="SettingsCtrl">
        <div class="form-setup-header" ng-class="isValid() ? 'valid' : 'invalid'"></div>
        <div class="form-setup-content">
            <!-- authentication key-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="authKey">Authentication Key <small><span class="glyphicon glyphicon-lock"></span></small></label>   
                <div class="col-md-12">
                    <div class="input-group">
                        <input id="authKey" name="authKey" type="text" placeholder="" class="form-control input-md" ng-model="setup.authKey">
                        <span class="input-group-btn">
                            <span name="auth" class="btn btn-default" ng-class="setup.$authenticated ? 'btn-success' : 'btn-danger'">
                                <span class="glyphicon" ng-class="setup.$authenticated ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- group-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="group">Group</label>  
                <div class="col-md-12">
                    <div class="input-group">
                        <input id="group" name="group" type="text" placeholder="" class="form-control input-md" ng-model="setup.group">
                        <span class="input-group-btn">
                            <span name="groupGenerate" class="btn btn-default" ng-click="generateGroup()"><span class="glyphicon glyphicon-refresh"></span></span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- name-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="name">Name</label>  
                <div class="col-md-12">
                    <input id="name" name="name" type="text" placeholder="" class="form-control input-md" ng-model="setup.name">
                </div>
            </div>
            <!-- submit-->
            <div class="form-group">
                <div class="col-md-12">
                    <button name="submit" class="btn btn-default" ng-click="submit()" ng-disabled="!isValid()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>