<div class="share" ng-controller="ShareCtrl" ng-ifs="initialized">
    <div class="input-group mvp-filter pull-right">
        <input id="shareFilter" type="text" class="form-control form-control-sm" placeholder="Search" ng-class="{'rounded': !shareFilter}" ng-model="shareFilter">
        <span class="input-group-btn" ng-show="shareFilter">
            <button class="btn btn-default" type="button" ng-click="shareFilter=''">
                <span class="fas fa-times"></span>
            </button>
        </span>
    </div>
    <form id="editForm" class="form-horizontal form-edit">
        <!-- amount -->
        <div class="form-group">
            <label class="col-md-12 control-label" for="amount">Amount</label>  
            <div class="col-md-12">
                <input id="amount" name="amount" type="number" class="form-control input-md amount" ng-model="share.edit.amount">
            </div>
        </div>
        <!-- item -->
        <div class="form-group">
            <label class="col-md-12 control-label" for="item">Item</label>  
            <div class="col-md-12">
                <input id="item" name="item" type="text" class="form-control input-md" ng-model="share.edit.item">
            </div>
        </div>
        <!-- seller -->
        <div class="form-group">
            <label class="col-md-12 control-label" for="seller">Seller</label>  
            <div class="col-md-12">
                <input id="seller" name="seller" type="text" class="form-control input-md" ng-model="share.edit.seller">
            </div>
        </div>
        <!-- users -->
        <div class="form-group">
            <label class="col-md-12 control-label" for="users">Users</label>  
            <div class="col-md-12">
                <div class="users" ng-repeat="user in share.users | toArray">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="name" ng-init="name=user.name" ng-blur="user.name=name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="removeUser(share.$key, user.$key)">
                                <span class="fas fa-times"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="addUser(share)">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-striped share-list">
        <thead>
            <tr>
                <td width="1%">#</td>
                <td width="30%">Item</td>
                <td width="20%">Seller</td>
                <td width="20%">Share</td>
                <td width="15%">Added</td>
                <td width="1%"></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="share in shareList | toArray | filter:shareFilter | orderBy:'date'">
                <td>
                    {{share.amount}}
                </td>
                <td>
                    {{share.item}}
                </td>
                <td>
                    {{share.seller}}
                </td>
                <td>
                    <div class="users" ng-repeat="user in share.users | toArray">
                        {{user.name}}
                    </div>
                </td>
                <td>
                    <span class="added" am-time-ago="share.date * 1000" uib-tooltip="{{share.date | amFromUnix | amDateFormat:'DD.MM.YYYY HH:mm'}}"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="editShare(share)">
                        <span class="fas fa-edit"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="addShare()">
        <span class="fas fa-plus"></span>
    </button>
</div>