<div class="form-login-container" ng-controller="SignupCtrl">
    <form id="signupForm" class="form-horizontal form-login">
        <div class="form-login-header" ng-class="isValid() ? 'valid' : 'invalid'"></div>
        <div class="form-login-content">
            <h4>Create Account</h4>
            <!-- email-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="email">E-Mail</label>  
                <div class="col-md-12">
                    <input id="email" name="email" type="text" placeholder="" class="form-control input-md" ng-model="signup.email" ng-disabled="signup.$active">
                </div>
            </div>
            <!-- password1-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="password1">Password</label>  
                <div class="col-md-12">
                    <input id="password1" name="password1" type="password" class="form-control input-md" ng-model="signup.password1" ng-disabled="signup.$active">
                </div>
            </div>
            <!-- password2-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="password2">Verify Password</label>  
                <div class="col-md-12">
                    <input id="password2" name="password2" type="password" class="form-control input-md" ng-model="signup.password2" ng-disabled="signup.$active">
                </div>
            </div>
            <!-- username-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="username">Display Name</label>  
                <div class="col-md-12">
                    <input id="username" name="username" type="text" class="form-control input-md" ng-model="signup.username" ng-disabled="signup.$active">
                </div>
            </div>
            <!-- submit-->
            <div class="form-group">
                <div class="col-md-12">
                    <button name="submit" class="btn btn-default" ng-click="submit()" ng-disabled="!isValid() || signup.$active">Signup</button>
                    <a ui-sref="login">Login</a>
                </div>
            </div>
            <!-- error -->
            <div class="text-danger"><strong>{{errorMessage}}</strong></div>
        </div>
    </form>
</div>
